* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #C3C3C3;
    font-family: "Courier New";
}

a {
    text-decoration: none;
}

#wrapper {
    clear: both;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 1% 3% 1% 3%;
}

#wrapper h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1%;
}

#main-menu, #bottom-menu {
    list-style: none;
    list-style-position: inside;
    padding: 1%;
}

#main-menu {
    color: #C3C3C3;
    background-color: #000;
    margin-bottom: 2%;
    margin-top: 1%;
}

#bottom-menu {
    margin-top: 5%;
    text-align: center;
}

#main-menu li, #bottom-menu li {
    display: inline-block;
}

#main-menu a {
    color: #C3C3C3;
}

.grid {
    width: 100%;
    border: 0;
}

.grid tr td {
    padding: 0.5% 1%;
}

#grid-header {
    background-color: #4d4d4d;
    color: #FFF;
    font-weight: bold;
    text-align: center;
}

.grid-row-data td {
    border-bottom: 1px solid #4D4D4D;
}

.grid-row-data td.small {
    width: 10%;
}

.grid-row-data td.medium {
    width: 40%;
}

.form-row {
    margin-bottom: 1%;
}

.form label {
    clear: both;
    display: block;
    font-weight: bold;
    margin-bottom: 0.5%;
}

.form input[type=text] {
    padding: 4px 2px;
    width: 300px;
}

.form input[type=text].small {
    padding: 4px 2px;
    width: 50px;
}

.form select {
    padding: 4px 2px;
    width: 300px;
}

.form-actions {
    margin-top: 2%;
    margin-bottom: 2%;
}

.form-actions input[type=submit] {
    width: 100px;
}